.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: calc(10px + 2vmin);
}

.lemonade {
  background-color: #fdf6e3;
  color: #cb4b16;
}

.cocktail {
  background-color: #002b36;
  color: #268bd2;
}
